<h3>You did it! You registered!</h3>

Hi {{ utilisateur.username }}! You're successfully registered.
To login, go to: <a href="{{ app.request.getSchemeAndHttpHost() ~ '/' ~ utilisateur.id ~ '/status' }}">Free Ads</a>.

Thanks!