{% extends 'base.html.twig' %}
{% block body %}

    <h1>Veuillez créer votre billet</h1>

    <div class="create">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        enctype="multipart/form-data"
        <button type="submit" class="btn btn-primary">Save</button>
        {{ form_end(form) }}

    </div>
{% endblock%}